@model IEnumerable<MySens.Models.Course>

<div class="size100 topCourses">
    <h2>Top Courses</h2>
    <table >

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="mobileHide">
                    @Html.DisplayFor(modelItem => item.price) .kr
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="mobileHide">
                    @Html.DisplayFor(modelItem => item.NumberOfLessons) lessons
                </td>
                <td>
                    @Html.ActionLink("Sign Up", "Signup", new { id = item.CourseID }, new { onclick = "return confirm('You have now signed up for this course. The teacher will contact you shortly.');" })
                </td>
            </tr>
        }

    </table>

</div>