@model IEnumerable<MySens.Models.Course>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Top Courses</h1>
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLessons)
                </td>
                <td>
                @Html.ActionLink("Sign Up", "Signup", new { id = item.CourseID }, new { onclick = "return confirm('You have now signed up for this course. The teacher will contact you shortly.');" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
