
@{
    ViewBag.Title = "Index";
}
<h1>HOME PAGE</h1>
<div>menu</div>
<br />

@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Sign Up", "Create","AppUser", null, new { @class = "btn btn-primary" })
@Html.ActionLink("My Profile", "UserProps", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Courses/SearchResults", "Index", "Course", null, new { @class = "btn btn-primary" })
<div>This buttons must be in the menu if user is logged in (I left them here to test)</div>
<br />
<br />


<div>IF ADMINISTRATOR is logged in then this button should be visible + in the menu ? :</div>
@Html.ActionLink("Administrator Panel", "Index", "Admin", null, new { @class = "btn btn-primary" })

<br />
<br />

<h2>PAGE CONTENT</h2>

<div class="panel panel-primary">
    <h3 class="panel-heading">YOU ARE LOGGED IN AS: </h3>
    <table class="table table-striped">
        @foreach (string key in Model.Keys) {
            <tr>
                <td>@key</td>
                <td>@Model[key]</td>
            </tr>
        }
    </table>

</div>

@Html.ActionLink("Sign Out ", "Logout", "Account", null, new { @class = "btn btn-primary" })
