
@{
    ViewBag.Title = "Index";
}
<div class="size100 vidBgContain">
    <video class="vidBg" tabindex="0" autobuffer="autobuffer" preload="preload" autoplay loop>
        <source type="video/mp4" src="http://kamalteta.com/Media/Cookie.mp4"></source>
    </video>
</div>
<div class="size100 mesh"></div>

<section class="size100 landing">
    <h1 id="title">"Find your allknowing <span>sensei</span> in minutes"</h1>
    <h2 class="howItWorks">How it works?</h2>

    <section id="wrapper1" class="col-12">
        <input type="text" placeholder="Search for course"/>

        <select id="course">
            <option value="#" selected="selected">Option 1</option>
            <option value="#">Option 2</option>
            <option value="#">Option 3</option>
        </select>

        <button value="Search">Search!</button>
    </section>
</section>
<section id="categories" class="size100">
    <h1>Categories</h1>
    <div class="col-3"><div class="cat cat1"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat2"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat3"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat4"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat5"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat6"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat7"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
    <div class="col-3"><div class="cat cat8"><div class="catOverlay"><p>CATEGORY</p></div></div></div>
</section>
<hr>
<section id="testimonials" class="size100">

    <h1>Testimonials</h1>
    <div class="tBtn tBtn1 done"></div>
    <div class="tBtn tBtn2"></div>
    <div class="borderControl">
        <div class="buffer">
            <div class="test test0 col-4">
                <img src="http://kamalteta.com/Media/french.jpg" alt="portrait1" class="testimonyPortrait">
                <h4> dummy text for reviews1<br /> dummy text for reviews<br /> dummy text for reviews<br /> dummy text for reviews<br /></h4>
            </div>
            <div class="test test1 col-4">
                <img src="http://kamalteta.com/Media/french.jpg" alt="portrait2" class="testimonyPortrait">
                <h4> dummy text for reviews2<br /> dummy text for reviews<br /> dummy text for reviews<br /> dummy text for reviews<br /></h4>
            </div>
            <div class="test test2 col-4">
                <img src="http://kamalteta.com/Media/french.jpg" alt="portrait3" class="testimonyPortrait">
                <h4> dummy text for reviews3<br /> dummy text for reviews<br /> dummy text for reviews<br /> dummy text for reviews<br /></h4>
            </div>
            <div class="test test3 col-4">
                <img src="http://kamalteta.com/Media/french.jpg" alt="portrait3" class="testimonyPortrait">
                <h4> dummy text for review4<br /> dummy text for reviews<br /> dummy text for reviews<br /> dummy text for reviews<br /></h4>
            </div>
            <div class="test test4 col-4">
                <img src="http://kamalteta.com/Media/french.jpg" alt="portrait3" class="testimonyPortrait">
                <h4> dummy text for review5<br /> dummy text for reviews<br /> dummy text for reviews<br /> dummy text for reviews<br /></h4>
            </div>
        </div>

    </div>



</section>
<hr>

<section id="howitworks" class="size100">

    <h1>How it works ?</h1>

    <div id="step1" class="col-4">
        <img src="http://kamalteta.com/Media/Billed.jpg" alt="pictogram1">
        <h4> dummy text for works</h4>
    </div>

    <div id="step2" class="col-4">
        <img src="http://kamalteta.com/Media/Billed.jpg" alt="pictogram2">
        <h4> dummy text for works</h4>
    </div>

    <div id="step3" class="col-4">
        <img src="http://kamalteta.com/Media/Billed.jpg" alt="pictogram3">
        <h4> dummy text for works</h4>
    </div>

</section>































<!--
<h1>HOME PAGE</h1>
<div>menu</div>
<br />

@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Sign Up", "Create","AppUser", null, new { @class = "btn btn-primary" })
@Html.ActionLink("My Profile", "UserProps", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Courses/SearchResults", "Index", "Course", null, new { @class = "btn btn-primary" })
<div>This buttons must be in the menu if user is logged in (I left them here to test)</div>
<br />
<br />


<div>IF ADMINISTRATOR is logged in then this button should be visible + in the menu ? :</div>
@Html.ActionLink("Administrator Panel", "Index", "Admin", null, new { @class = "btn btn-primary" })

<br />
<br />

<h2>PAGE CONTENT</h2>

<div class="panel panel-primary">
    <h3 class="panel-heading">YOU ARE LOGGED IN AS: </h3>
    <table class="table table-striped">
        @foreach (string key in Model.Keys) {
            <tr>
                <td>@key</td>
                <td>@Model[key]</td>
            </tr>
        }
    </table>

</div>

@Html.ActionLink("Sign Out ", "Logout", "Account", null, new { @class = "btn btn-primary" })-->
