@model MySens.Models.LoginModel
@{ ViewBag.Title = "Login";}

        <div class="loginModule size100">
            <h2>Log In</h2>
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken();
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="form-group">
                    @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Name" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Password" })
                </div>
                <input type="checkbox" value="Remember me" name="remember" class="checkbox"><p class="remember">Remember me</p><br/>
                <button class="btn btn-primary" type="submit">Log In</button>
                <div class="col-12">
                    <p>Don't have an account yet?</p>
                    <a href="../AppUser/Create"><button name="signup" value="Sign up!" type="button" class="signupBtn">Sign up!</button></a>
                </div>
                
            }
        </div>


<!--
     

    <img src="http://kamalteta.com/Media/logo_i_vector_hvid.png" alt="Mysensei logo">
        <h2>Log in</h2>
        <form>
            <input type="text" name="username" placeholder="Username" required class="username"><br />
            <input type="text" name="password" placeholder="Password" required class="password"><br />
            <div class="col-6 remember">
                
            </div>
            <div class="col-6 forgotAndLogin">
                <a href="#">Forgot password</a>
                <input type="button" value="Login" name="login">
            </div>

        </form>
        <div class="col-12">
            <p>Don't have an account yet?</p>
            <button name="signup" value="Sign up!" type="button" class="signupBtn">Sign up!</button>
        </div>
-->