@using MySens.Models;
@model  MySens.Models.AdminViewModel

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        User Accounts
    </div>
    <table class="table table-striped">
        <tr><th>ID</th><th>User name</th><th>Email</th><th></th></tr>
        @if (Model.AppUsers.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">No User Accounts</td></tr>
        }
        else
        {
            foreach (AppUser user in Model.AppUsers)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin", new { id = user.Id }))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = user.Id }, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs"
                                    type="submit">
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
    </br></br>
    <div class="panel-heading">
        Courses
    </div>
    <table class="table table-striped">
        <tr><th>ID</th><th>Instructor</th><th>Title</th><th>Price</th><th>City</th><th>N of Lessons</th><th>Start Date</th></tr>
        @if (Model.Courses.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">No User Accounts</td></tr>
        }
        else
        {
            foreach (Course course in Model.Courses)
            {
                <tr>
                    <td>@course.CourseID</td>
                    <td>@course.Teacher.UserName</td>
                    <td>@course.Title</td>
                    <td>@course.price</td>
                    <td>@course.Teacher.City</td>
                    <td>@course.NumberOfLessons</td>
                    <td>@course.StartDate</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Course", new { id = course.CourseID }))
                        {  @Html.AntiForgeryToken()
                            @Html.ActionLink("Edit", "Edit", "Course", new { id = course.CourseID}, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs"
                                    type="submit">
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </table>

    <div class="panel-heading">
        Tags
    </div>
    <table class="table table-striped">
        <tr><th>ID</th><th>Tag name</th><th>Course</th><th></th></tr>
        @if (Model.AppUsers.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">No User Accounts</td></tr>
        }
        else
        {
            foreach (Tag tag in Model.Tags)
            {
                <tr>
                    <td>@tag.TagID</td>
                    <td>@tag.Name</td>
                    <td>@foreach (var course in tag.TagCourses)
                    {
                        //lol
                        @(course.Title + " " + ", ");

                    }</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin", new { id = tag.TagID }))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = tag.TagID }, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs"
                                    type="submit">
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Create Course", "Create","Course", null, new { @class = "btn btn-primary" })